* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:none;
}

body {
  --twitter-color: #8e44ad;
  --twitter-background: #2f3336;
  --primary-text-color: #fff;
  --secondary-text-color: #d9d9d9;
  --third-text-color: #6e767d;
  --main-background: #000;
  --popup-background: #000;
  --softgray-text-color: #c2c2c2;
  font-family: 'Roboto', sans-serif;
  font-width: 400;
  background: var(--main-background);
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
  color: var(--primary-text-color);
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
  color: var(--primary-text-color);
}

.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  font-width: bold;
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  background: var(--main-background);
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 1;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  
  background: var(--main-background);
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-text-color);
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-left: auto;
}

/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 100px;
  color: var(--third-text-color);
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--primary-text-color);
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

#sendTweet{
  width: 100%;
  margin-left: 20px;
  background: none;
  color: var(--secondary-text-color);
  resize: none;
  padding: 6px;
  font-size:20px;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: var(--popup-background);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: #fff;
}

.popup h2 {
  margin-top: 0;
  color: var(--primary-text-color);
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.whiteIcon{
  color: var(--softgray-text-color);
  font-size:28px;
}

.notificationDot{
  position: relative;
  left: 35px;
  top: -30px;
  width: 10px;
  height: 10px;
  border-radius: 99px;
  background: var(--twitter-color);
  
}

#homePage{
  display:block;
}

#notificationPage{
  display: none;
}

